<h1>Restaurants</h1>
<div class="container">
<% @restaurants.each do |restaurant| %>
  <div class="row list-inline">
    <div class="col-sm-6 col-sm-offset-3">
      <%= link_to restaurant.name, restaurant_path(restaurant) %> <%= restaurant.name %> - <%= restaurant.address %>
      <%= link_to 'Delete!', restaurant_path(restaurant), method: :delete , data: {confirm: 'Are you sure??'}%>
    </div>
  </div>
<% end %>
</div>
